<div class="mb-3">
  <a
    class="btn btn-outline-primary"
    type="button"
    name="category"
    id="inlineRadio1"
    value="all"
    checked
    href="/"
  >All</a>
  <a class="btn btn-primary" type="button" name="category" id="inlineRadio2" value="food">Food</a>
  <a
    class="btn btn-outline-primary"
    type="radio"
    name="category"
    id="inlineRadio3"
    value="drinks"
    href="/drinks"
  >Drinks</a>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {{#if userId}}
    {{#each products}}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{image}}" />
          <div class="card-body">
            <p class="card-text fw-bold">{{title}}</p>
            <div class="d-flex justify-content-end align-items-center">
              <small class="text-body-secondary fs-6">Price: {{price}}$</small>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <small class="text-body-secondary fs-6">Amount: {{amount}}</small>
            </div>
          </div>
          <div class="card-footer">
            <a type="button" class="btn btn-outline-primary" href="/product/{{_id}}">About</a>
            {{#if @root.userId}}
              <a type="button" class="btn btn-outline-secondary" href="/edit/{{_id}}">Edit</a>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    {{#each products}}
      {{#if amount}}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{image}}" />
            <div class="card-body">
              <p class="card-text fw-bold">{{title}}</p>
              <div class="d-flex justify-content-end align-items-center">
                <small class="text-body-secondary fs-6">Price: {{price}}$</small>
              </div>
              <div class="d-flex justify-content-end align-items-center">
                <small class="text-body-secondary fs-6">Amount: {{amount}}</small>
              </div>
            </div>
            <div class="card-footer">
              <a type="button" class="btn btn-outline-primary" href="/product/{{_id}}">About</a>
              {{#if @root.userId}}
                <a type="button" class="btn btn-outline-secondary" href="/edit/{{_id}}">Edit</a>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}

</div>