<%- include('partials/header'); -%>
<ul>
  <li><a href="/products" class="btn">All</a></li>
  <li><a href="/food" class="btn">Food</a></li>
  <li><a href="/drinks" class="btn">Drinks</a></li>
</ul>
<ul class="products" id="productList">
  <% products.forEach(product => { %>
  <li class="product">
    <img src="<%= product.image %>" alt="<%= product.title %>" />
    <h4><%= product.title %></h4>
    <p><%= product.price %>$</p>
    <a href="/product/<%= product._id %>" class="btn">About</a>
  </li>

  <script>
    imageUrl = "<%= product.image %>";
    fetch("/products")
      .then((response) => {
        return response.blob();
      })
      // .then((response) => response.json())
      .then((blob) => {})
      .catch((error) => console.error("Error fetching data:", error));
  </script>
  <% }); %>
</ul>
